@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app-terminal {
  @include border-box;
  color: lime;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #000;
}
.prompt {
  display: flex;
}
.app-terminal input {
  transform: translateY(-50%);
  flex: 1;
}

.entry:after, error:after, prompt.executed:after  { /*stdout:after,*/
  white-space: pre-wrap;
  content: "\A";
}

.error:before {
  font-weight: bold;
  content: "Error: ";
}

@mixin animate($args){
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@-webkit-keyframes blink {
  from {
    background-color: transparent;
  }
  to {
    background-color: lime;
  }
}

@keyframes blink {
  from {
    background-color: transparent;
  }
  to {
    background-color: lime;
  }
}

.entry.inline {
  display: inline-block;
  width: 50%;
}

.stdout {
  height: calc(100% - 20px);
  overflow: scroll;
}

.prompt.error:before {
  color: #ff6e67;
  /*content: '\00279C  '; /*➜*/
}

.prompt:before {
  color: #5ffa68;
  content: '\00279C\00a0\00a0'; /*➜ / \00a0 = ' '*/
}

.pwd {
  color: #a8abff;
}

.pwd:before {
  // color: #a8abff;
  // content: '~'; /*➜*/
  // margin-right: 10px;
}

.pwd:after {
  // content: ' '; /*➜*/
}
// prompt .active cursor {
//   @include(4s linear 0s infinite alternate blink);
// }

.prompt.active .cursor {

  @include animate(500ms linear infinite alternate blink);
}

