@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app-terminal {
  @include border-box;
  color: lime;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #000;
}
.app-terminal input {
  flex: 1;
}

.error:not(.prompt):before {
  font-weight: bold;
  content: "Error: ";
}

@mixin animate($args){
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@-webkit-keyframes blink {
  from {
    background-color: transparent;
  }
  to {
    background-color: lime;
  }
}

@keyframes blink {
  from {
    background-color: transparent;
  }
  to {
    background-color: lime;
  }
}

.entry.inline {
  display: inline-block;
  width: 50%;
}

.stdout {
  height: calc(100% - 40px);
  overflow: scroll;
}

// .prompt.error:before {
//   color: #ff6e67;
// }

.prompt {
  display: flex;
  &:before {
    display: flex;
    align-items: center;
    color: #5ffa68;
    content: '\00279C\00a0';
  }
  &-active {
    @extend .prompt;
    &:before {color: #5ffa68;}
  }
  &-success {
     @extend .prompt;
    &:before {color: #5ffa68;}
  }
  &-error{
     @extend .prompt;
    &:before {color: #ff6e67;}
  }
}

.pwd {
  display: flex;
  align-items: center;
  color: #a8abff;
  &:after {content: '\00a0';}
}
