
$lighter: rgb(200, 200, 200);
$grey: rgb(40, 40, 40);
$red: rgb(255, 43, 43);
$light: rgb(170, 170, 170);

$font_family: "Roboto Mono";
$darkgrey: rgb(30, 30, 30);
$fadedblack: rgba(0,0,0,.8);
$fadeddarkgrey: rgba(40, 40, 40, .95);

$info_primary: #66B2FF;
$info_secondary: #0080FF;

$error_primary: #ff3d3d;
$error_secondary: #d62727;

$success_primary: #5ee065;
$success_secondary: #47b731;

$warning_primary: #ffcb4a;
$warning_secondary: #e8a312;